.resources-page-wrapper {
  display: flex;
  flex-direction: column;
}

.resources-page-landing {
  min-height: 400px;
}

.resources {
  display: flex;
  align-items: flex-start;
  padding-inline: var(--body-inline-padding);
  padding-left: 0;
  width: 100%;
}

.resource p a:hover {
  text-decoration: underline;
}

.resources-nav {
  position: sticky;
  top: 1rem;
  flex: 0 0 10rem;
  overflow-y: auto;
  padding-left: 1rem;
}

.resources-content {
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
  padding: 0 1rem;
}

.videos-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 2rem;
}

.resources-tools {
  padding-inline: var(--body-inline-padding);
}

@media screen and (max-width: 786px) {
  .videos-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .resources {
    flex-direction: column;
  }

  .resources-nav {
    width: 100%;
    position: relative;
    top: unset;
    flex: 1;
    margin-bottom: 1rem;
  }

  .resources-content {
    width: 100%;
  }
}
