.avatar-root:hover {
  cursor: pointer;
}

.avatar-placeholder {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.avatar-placeholder:hover {
  background-color: var(--secondary-hover-color);
}

.avatar-menu {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}
