.stats-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2rem;
  padding: 0 1rem 1rem;
}

.stats-content p {
  margin: 0;
  font-size: 0.8rem;
  text-align: left;
}

.stats-content p span {
  font-weight: bold;
}
