.chord-lib-wrapper {
  display: flex;
  flex-direction: column;
}

.chord-lib-header {
  display: flex;
  background: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-border-color);
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  padding: 0.5rem;
}

.key-button {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--accent-color);
  background: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.key-button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
.key-button.active,
.key-button.active:hover {
  background-color: var(--accent-color);
  color: white;
}

.chord-lib-main {
  display: flex;
}

.chord-lib-nav {
  display: flex;
  flex-direction: column;
  flex: 0 0 5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

.suffix-button {
  cursor: pointer;
  padding-left: 0.5rem;
  color: var(--text-color);
}
.suffix-button:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.suffix-button.active {
  background-color: var(--tools-active-color);
}

.chord-lib-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1rem;
}

.chord-content-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.segmented-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.segmented-control-root {
  background-color: var(--secondary-color);
}

.segmented-control-indicator {
  background-color: var(--tools-active-color);
}

.segmented-control-label {
  color: var(--text-color-lighter);
  transition: color 0.2s ease;
  cursor: pointer;
}

.segmented-control-label[data-active="true"] {
  color: var(--text-color);
}

.segmented-control-label:hover:not([data-active="true"]) {
  color: var(--text-color);
}

.segmented-icon {
  display: flex;
  align-items: center;
}

.diagrams-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.chord-lib-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chord-lib-lower-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: var(--body-inline-padding);
}

.chord-lib-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--instructions-inline-padding);
}

.example-keys {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.example-suffix {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
