.settings-menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 1rem;
}

.cents-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  column-gap: 2rem;
  margin-bottom: auto;
}

.settings-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .settings-input-wrapper {
    display: flex;
    flex-direction: column;
  }
}
