#root {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

.htu-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.htu-nav {
  position: sticky;
  top: 1rem;
  flex: 0 0 175px;
  overflow-y: auto;
}

.htu-nav button:hover,
.resources-nav button:hover {
  background-color: var(--secondary-color);
}

.htu-nav button:where([data-active]):hover,
.resources-nav button:where([data-active]):hover {
  background-color: var(--accent-color);
}

.htu-content {
  flex: 1;
  padding: 0 0.5rem;
  max-width: 100%;
  overflow-x: hidden;
}

.htu-content h2 {
  font-size: 1.8rem;
}

.htu-content h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.htu-content h4 {
  margin: 0.5rem 0 0;
}

.htu-main {
  margin-bottom: 3rem;
}

.htu-minor {
  margin-bottom: 1.5rem;
}

.htu-card {
  width: fit-content;
  max-width: 30rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  margin: 0.25rem 0;
}

@media screen and (max-width: 800px) {
  .htu-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .htu-nav {
    width: 100%;
    position: relative;
    top: unset;
    flex: 1;
    margin-bottom: 1rem;
  }
  .htu-content {
    width: 100%;
  }
}
