.site-container {
  display: flex;
  flex-direction: column;
  justify-self: start;
  width: 100%;
  height: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--secondary-border-color);
  height: 64px;
  background: var(--secondary-color);
}

.header-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

nav li {
  display: flex;
}

.nav-link,
.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 2px);
  padding: 0 0.5rem;
}

.nav-link.active-link,
.header-link.active-link {
  border-bottom: 2px solid var(--accent-color);
  height: 100%;
}

.theme-switcher,
.header-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.theme-switcher {
  margin-right: 1rem;
  padding: 0 0.25rem;
}

.header-element {
  padding: 0.25rem 1rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.header-element:hover {
  background-color: var(--secondary-hover-color);
  transition: background-color 0.3s;
}
.theme-switcher:hover {
  background-color: var(--secondary-hover-color);
}

.header-element.icon {
  padding: 0;
}
.header-element.icon:hover {
  background-color: transparent;
}

.tools-header-element {
  display: flex;
  align-items: center;
}

.tools-header-element p {
  margin-right: 0.8rem;
}

.tools-menu {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.tools-menu-item,
.tools-menu-item:hover {
  color: var(--text-color);
}

.tools-menu-item:hover {
  background-color: var(--secondary-hover-color);
}

.active-menu-item {
  background-color: var(--tools-active-color);
}
.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.theme-button svg {
  color: var(--text-color);
}

.login-button,
.login-button-mobile {
  background-color: var(--accent-color);
  transition: none;
}
.login-button:hover,
.login-button-mobile:hover {
  background-color: var(--accent-hover-color);
}

#open-sidebar-button,
#close-sidebar-button {
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

.main {
  margin: 0 clamp(1rem, 7.5vw, 7rem);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 clamp(1rem, 7.5vw, 7rem);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-content ul {
  list-style: none;
}

@media screen and (max-width: 700px) {
  #open-sidebar-button,
  #close-sidebar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    color: var(--text-color);
  }
  #open-sidebar-button {
    padding: 0.25rem 0.75rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
  }
  #open-sidebar-button:hover {
    background-color: var(--secondary-hover-color);
  }
  #close-sidebar-button {
    margin-left: 1rem;
    background-color: var(--primary-color);
  }
  .header-right-content,
  .theme-switcher {
    margin-right: unset;
  }
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100dvh;
    width: 100%;
    z-index: 100;
    transition: right 300ms ease-out;
    background: var(--primary-color);
  }
  nav.show {
    right: 0;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav li {
    height: 4rem;
    border-bottom: 1px solid var(--hover-color);
  }
  nav li:first-child {
    border: none;
  }
  .nav-link {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  .nav-link.active-link {
    border-bottom: none;
    border-left: 3px solid var(--accent-color);
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .login-button {
    display: none;
  }
  .mobile-only {
    display: flex;
    border-bottom: none;
  }
  .main,
  .footer-wrapper {
    margin: 0 clamp(1rem, 5vw, 5vw);
  }
}
