.metronome-wrapper {
  padding: 1rem;
  margin: 2rem 0 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
}

.ts-menu-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.ts-menu-button-wrapper p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.ts-menu-button {
  border: 2px solid var(--text-color);
  border-radius: 2rem;
}

.beat-dots {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 4rem 0;
}

.beat-dot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: var(--note-btn);
  transition: background-color 0.1s ease;
}

.beat-dot.active {
  background-color: var(--accent-color);
}

.tap-button {
  border: 2px solid var(--text-color);
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

.bpm-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.bpm-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.bpm-btn {
  border: 2px solid var(--text-color);
  border-radius: 50%;
  &:disabled {
    background-color: var(--secondary-color);
    color: var(--note-btn);
    border-color: var(--note-btn);
  }
}

.bpm-slider {
  width: 60%;
  max-width: 14rem;
  margin-bottom: 2rem;
}

.bpm-slider-track::before {
  background: var(--note-btn);
}

.metronome-menu,
.metronome-settings-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.metronome-menu {
  left: 0;
  transform: translateX(-100%);
}
.metronome-settings-menu {
  right: 0;
  transform: translateX(100%);
}

.metronome-menu.visible,
.metronome-settings-menu.visible {
  transform: translateX(0);
}

.metronome-menu-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  min-height: 3rem;
}

.metronome-menu-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.metronome-menu-wrapper {
  padding: 0 1.5rem 1.5rem;
}

.menu-button-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  text-align: left;
  cursor: pointer;
  background: var(--secondary-color);
}

.menu-button-label {
  flex: 1;
  padding: 0.75rem 0;
}

.menu-button-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.metronome-settings {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 475px) {
  .beat-dots {
    gap: 0.5rem;
  }
  .beat-dot {
    height: 1rem;
    width: 1rem;
  }
}
