.note-button {
  background: var(--note-btn);
  color: var(--text-color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0;
  font-weight: 600;
}

.note-button.active,
.note-button.active:hover {
  background: var(--note-btn-active);
  color: var(--text-color-invert);
}

.note-button:hover {
  background: var(--note-btn-hover);
}

.note-button.in-tune {
  border: 3px solid #12b886; /* Green border */
}
