.tuning-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem 0;
  text-align: left;
  cursor: pointer;
}

.tuning-card:hover {
  background-color: var(--secondary-hover-color);
}

.tuning-card-label {
  flex: 1;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
}

.card-name {
  font-size: 0.9rem;
}
.card-tuning {
  font-size: 0.85rem;
}

.tuning-card-notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((1.1rem + 0.2rem) * 6); /* spacing for 6 notes */
}

.tuning-note-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 0.2rem;
  width: 1.1rem;
  height: 1.1rem;
  font-weight: 600;
}

.tuning-note-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.tuning-note {
  font-size: 0.55rem;
}

.note-sub {
  font-size: 0.45rem;
}

.active-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
  width: 3rem;
}
