.notes-display {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0, 175px) 1fr;
  align-items: center;
}

.notes-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.instrument-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 500px) {
  .notes-display {
    grid-template-columns: 1fr minmax(0, 150px) 1fr;
    padding: 0 0.5rem;
  }
}
