.page-content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: var(--body-inline-padding);
}

.page-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--instructions-inline-padding);
}
