.instrument-button-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.instrument-button {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

.instrument-button-label {
  flex: 1;
  padding: 0.75rem 0;
}

.instrument-button-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.accordion {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 0;
}

.accordion:hover {
  background: var(--hover-color);
  transition: background-color 0.3s;
}

.accordion-content {
  padding: 0;
}

.accordion-item {
  border-bottom: 1px solid var(--border-color);
}

.instrument-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 20;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.instrument-list-content {
  padding: 0 1rem;
}

.instrument-list h3 {
  padding: 2rem 0 1rem;
}

.instrument-list.visible {
  transform: translateX(0);
}

.instrument-list-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  min-height: 3rem;
}

.instrument-list-header h3 {
  padding: 0;
}

.instrument-list-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.tuning-card-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.tuning-card-wrapper.active {
  border-bottom: 2px solid green;
}
