.stats-accordion-control {
  background: var(--secondary-color);
  color: var(--text-color);
  width: auto;
  font-size: 0.8rem;
}

.stats-accordion-control:hover {
  background: var(--secondary-color);
}

.stats-accordion-item {
  border: none;
  font-size: 0.8rem;
}

.stats-accordion-label {
  padding-right: 0.5rem;
}
