.tuner-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--body-margin);
  padding-top: 2rem;
}

.example-buttons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .tuner-page-wrapper {
    margin: var(--body-margin-mobile);
  }
}
