.resources-page-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.resources-page-nav {
  position: sticky;
  top: 0rem;
  flex: 0 0 10rem;
  overflow-y: auto;
}

.resources-page-content {
  max-width: 100%;
  overflow-x: hidden;
  flex: 1;
}
