:root {
  --scale: 1;
}

.diagram-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-color);
  padding: calc(0.5rem * var(--scale)) calc(0.5rem * var(--scale))
    calc(1rem * var(--scale)) calc(1rem * var(--scale));
  border-radius: calc(1rem * var(--scale));
  gap: calc(0.25rem * var(--scale));
  font-size: calc(1rem * var(--scale));
  box-shadow: var(--mantine-shadow-sm);
}

.diagram-label,
.diagram-link {
  font-weight: 600;
  font-size: calc(1.4rem * var(--scale));
}

.diagram-link,
.diagram-link:hover {
  color: var(--text-color);
  background: transparent;
}

.diagram-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.diagram-audio-icon {
  min-height: 25px;
  min-width: 25px;
  max-height: 35px;
  max-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.diagram-audio-icon.example {
  outline: 2px solid red;
}

.diagram-audio-icon svg {
  width: 100%;
  height: 100%;
}
