:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #1660c0;
  --accent-hover-color: #004ea0;

  --primary-color: #202225;
  --hover-color: rgb(40, 40, 40);
  --secondary-color: #2f3136;
  --secondary-hover-color: #202225;
  --secondary-border-color: rgb(99, 99, 99);
  --text-color: white;
  --border-color: rgb(79, 79, 79);
  --light-text-color: rgb(170, 170, 170);
  --tools-active-color: #37393f;
}

.light-theme {
  --primary-color: #e9eef3;
  --hover-color: rgb(240, 240, 240);
  --secondary-color: white;
  --secondary-hover-color: #e9eef3;
  --secondary-border-color: lightgrey;
  --text-color: black;
  --border-color: rgb(177, 177, 177);
  --light-text-color: rgb(130, 130, 130);
  --tools-active-color: #e9f4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: none;
}

button:hover {
  background: var(--secondary-hover-color);
}
