:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #1660c0;
  --accent-hover-color: #004ea0;

  --primary-color: black;
  --hover-color: rgb(40, 40, 40);
  --text-color: white;
  --light-text-color: rgb(151, 151, 151);
  --tools-active-color: rgb(27, 30, 59);
  --tools-active-hover-color: rgb(36, 41, 82);
}

.light-theme {
  --primary-color: white;
  --hover-color: rgb(240, 240, 240);
  --text-color: black;
  --light-text-color: rgb(130, 130, 130);
  --tools-active-color: aliceblue;
  --tools-active-hover-color: rgb(223, 236, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s, color 0.5s;
}

html {
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: none;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background: var(--hover-color);
}
