.tools-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: 100%;
}

.tools-wrapper h2 {
  align-self: center;
}

.card-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
